[Unit]
Description=Victoria Metrics time series database
Documentation=https://docs.victoriametrics.com/
Wants=network-online.target
After=network-online.target

[Service]
User=victoriametrics
Group=victoriametrics
Restart=on-failure
WorkingDirectory=/opt/victoriametrics
ExecStart=/opt/victoriametrics/victoria-metrics-prod --storageDataPath=/opt/victoriametrics-storage

[Install]
WantedBy=network.target