victoriametrics_url="{{ victoriametrics_url }}"
victorialogs_url="{{ victorialogs_url }}"
{% if victoriametrics_user is defined and victoriametrics_password is defined %}
victoriametrics_user="{{ victoriametrics_user }}"
victoriametrics_password="{{ victoriametrics_password }}"
{% else %}
victoriametrics_token = "{{ victoriametrics_token }}"
{% endif %}
{% if victorialogs_user is defined and victorialogs_password is defined %}
victorialogs_user="{{ victorialogs_user }}"
victorialogs_password="{{ victorialogs_password }}"
{% else %}
victorialogs_token = "{{ victorialogs_token }}"
{% endif %}
{% if vsphere_enabled is defined and vsphere_enabled %}
vsphere_urls="{{ vsphere_urls }}"
vsphere_username="{{ vsphere.username }}"
vsphere_password="{{ vsphere.password }}"
{% endif %}
{% if openldap_enabled is defined and openldap_enabled %}
openldap_host="{{ openldap.host }}"
openldap_bind_dn="{{ openldap.bind_dn }}"
openldap_bind_password="{{ openldap.bind_password }}"
{% endif %}
{% if nut_enabled %}
nut_server="{{ nut.server }}"
nut_port={{ nut.port|default(3493) }}
nut_username="{{ nut.username }}"
nut_password="{{ nut.password }}"
{% endif %}
{% for name,secret in user_secrets.items() %}
{{ name }}="{{ secret }}"
{% endfor %}
metric_buffer_limit={{ metric_buffer_limit }}
metric_batch_size={{ metric_batch_size }}
interval="{{ interval }}"
flush_interval="{{ flush_interval }}"

