loki_url="{{ loki.url }}"
{% if loki.user is defined %}
loki_user="{{ loki.user }}"
{% endif %}
{% if loki.password is defined %}
loki_password="{{ loki.password }}"
{% endif %}
victoria_url="{{ victoria.url }}"
{% if victoria.user is defined %}
victoria_user="{{ victoria.user }}"
{% endif %}
{% if victoria.password is defined %}
victoria_password="{{ victoria.password }}"
{% endif %}
{% if metric_buffer_limit is defined %}
metric_buffer_limit={{ metric_buffer_limit }}
{% else %}
metric_buffer_limit=10000
{% endif %}
{% if metric_batch_size is defined %}
metric_batch_size={{ metric_batch_size }}
{% else %}
metric_batch_size=1000
{% endif %}
{% if interval is defined %}
interval="{{ interval }}"
{% else %}
interval="10s"
{% endif %}
{% if flush_interval is defined %}
flush_interval="{{ flush_interval }}"
{% else %}
flush_interval="10s"
{% endif %}
{% if vsphere_urls is defined and vsphere_enabled is defined and vsphere_enabled %}
vsphere_urls="{{ vsphere_urls }}"
{% endif %}
{% if vsphere.username is defined and vsphere_enabled is defined and vsphere_enabled %}
vsphere_username="{{ vsphere.username }}"
{% endif %}
{% if vsphere.password and vsphere_enabled is defined and vsphere_enabled %}
vsphere_password="{{ vsphere.password }}"
{% endif %}