docker_users:
  - root
  - telegraf
vmanomaly_enabled: false
vmanomaly_log_level: "INFO"
victoriametrics_disable_daily_index: true
docker_daemon_options:
  log-driver: syslog
  log-opts:
    syslog-address: 'udp://localhost:6667'
    syslog-format: rfc5424
    tag: "{% raw %}{{.Name}}{% endraw %}"
shiftmon_alertmanager_version: 'v0.31.1'
shiftmon_grafana_version: '12.3.3'
shiftmon_victoriametrics_version: 'v1.136.0'
shiftmon_victorialogs_version: 'v1.46.0'
shiftmon_victoriatraces_version: 'v0.7.1'
shiftmon_vmanomaly_version: 'v1.28.7'
shiftmon_valkey_version: '9-alpine'
shiftmon_traefik_version: 'latest'
shiftmon_loki_version: '3.6.7'
