- name: Install Rsyslog
  ansible.builtin.package:
    name: rsyslog
    state: latest
  become: true
  when: syslog is defined and syslog == "rsyslog"
  notify: Restart Syslog

- name: Remove Telegraf config
  ansible.builtin.file:
    path: /etc/rsyslog.d/50-telegraf.conf
    state: absent
  become: true
  notify: Restart Syslog

- name: Place Rsyslog config is installed when syslog is enabled
  ansible.builtin.template:
    src: "50-otelcol-contrib.conf"
    dest: /etc/rsyslog.d/50-otelcol-contrib.conf
  become: true
  when: syslog is defined and syslog == "rsyslog"
  notify: Restart Syslog

- name: Start and enable Rsyslog service
  ansible.builtin.systemd:
    name: rsyslog
    state: started
    enabled: true
  become: true
  when: syslog is defined and syslog == "rsyslog"

- name: Set processor Architecture
  ansible.builtin.set_fact:
    shiftmon_otel_architecture: "{% if ansible_userspace_architecture == 'x86_64' %}amd64{% endif %}"

- name: Install Otel Collector on Redhat based systems
  ansible.builtin.dnf:
    name: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ shiftmon_otel_collector_version }}/otelcol-contrib_{{ shiftmon_otel_collector_version }}_linux_{{ shiftmon_otel_architecture }}.rpm"
    state: present
    disable_gpg_check: true
  become: true
  when: ansible_facts['os_family'] == "RedHat"
  notify: Restart otel collector

- name: Install Otel Collector on Debian based systems
  ansible.builtin.apt:
    deb: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ shiftmon_otel_collector_version }}/otelcol-contrib_{{ shiftmon_otel_collector_version }}_linux_{{ shiftmon_otel_architecture }}.deb"
    state: present
    disable_gpg_check: true
  become: true
  when: ansible_facts['os_family'] == "Debian"
  notify: Restart otel collector

- name: Ensure override directory
  ansible.builtin.file:
    path: /etc/systemd/system/otelcol-contrib.service.d
    state: directory
  become: true

- name: Set Otel Collector
  ansible.builtin.template:
    src: override.conf
    dest: /etc/systemd/system/otelcol-contrib.service.d/override.conf
  become: true
  notify: Restart otel collector

- name: Gather Systemd units
  ansible.builtin.service_facts:

- name: Ensure Otel collector config
  ansible.builtin.template:
    src: config.yaml
    dest: /etc/otelcol-contrib/config.yaml
  become: true
  notify: Restart otel collector

- name: Start and enabled Otel collector
  ansible.builtin.systemd:
    name: otelcol-contrib.service
    state: started
    enabled: true
  become: true
