extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679
  bearertokenauth:
    scheme: "Bearer"
    token: "{{ shiftmon_otel_collector_token }}"
receivers:
  hostmetrics:
    collection_interval: 10s # default = 1m
    initial_delay: 1s # default = 1s
    root_path: /
    scrapers:
      cpu:
      disk:
      filesystem:
      memory:
      network:
        exclude:
          interfaces:
            - 'veth.*'
          match_type: regexp
      paging:
      process:
        mute_process_all_errors: true
        include:
          match_type: 'regexp'
          names:
{% for process in shiftmon_otel_processes %}
            - {{ process }}
{% endfor %}
      processes:
      system:
  prometheus:
    config:
{% filter indent(width=6) %}
      {{ shiftmon_prometheus_scrape_config | to_nice_yaml(indent=2,sort_keys=false) }}
{% endfilter %}
{% if shiftmon_httpchecks is defined %}
{% for check in shiftmon_httpchecks %}
  httpcheck/{{ check.name }}:
    collection_interval: "{{ check.collection_interval | default('30s') }}"
    targets:
      - method: "{{ check.method | default('GET') }}"
        endpoints:
          - "{{ check.url }}"
{% endfor %}
{% endif %}
{% if shiftmon_postgres_endpoints is defined %}
{% for endpoint in shiftmon_postgres_endpoints %}
  postgresql:
    endpoint: '{{ endpoint.hostname }}'
    transport: {{ endpoint.transport | default('tcp') }}
    username: '{{ endpoint.username }}'
    password: '{{ endpoint.password }}'
    tls:
      insecure: {{ endpoint.is_secure | default('true') }}
    collection_interval: '{{ endpoint.collection_interval | default('10s') }}'
    events:
      db.server.query_sample:
        enabled: true
      db.server.top_query:
        enabled: true
    query_sample_collection:
      max_rows_per_query: {{ endpoint.max_rows_per_query | default('100') }}
    top_query_collection:
      max_rows_per_query: {{ endpoint.max_rows_per_query | default('100') }}
      top_n_query: {{ endpoint.top_n_query | default('100') }}
{% endfor %}
{% endif %}
{% if shiftmon_otlp_http_receiver_endpoint is defined or shiftmon_otlp_grpc_receiver_endpoint is defined %}
  otlp:
    protocols:
{% if shiftmon_otlp_grpc_receiver_endpoint is defined %}
      grpc:
        endpoint: '{{ shiftmon_otlp_grpc_receiver_endpoint }}'
{% endif %}
{% if shiftmon_otlp_http_receiver_endpoint is defined %}
      http:
        endpoint: '{{ shiftmon_otlp_http_receiver_endpoint }}'
{% endif %}
{% endif %}
{% if shiftmon_jaeger_grpc_receiver_endpoint is defined or shiftmon_jaeger_thrift_compact_receiver_endpoint is defined %}
  jaeger:
    protocols:
{% if shiftmon_jaeger_grpc_receiver_endpoint is defined %}
      grpc:
        endpoint: '{{ shiftmon_jaeger_grpc_receiver_endpoint }}'
{% endif %}
{% if shiftmon_jaeger_thrift_compact_receiver_endpoint is defined %}
      thrift_compact:
        endpoint: '{{shiftmon_jaeger_thrift_compact_receiver_endpoint }}'
{% endif %}
{% if shiftmon_jaeger_thrift_http_receiver_endpoint is defined %}
      thrift_http:
        endpoint: '{{shiftmon_jaeger_thrift_http_receiver_endpoint }}'
{% endif %}
{% if shiftmon_jaeger_thrift_binary_receiver_endpoint is defined %}
      thrift_binary:
        endpoint: '{{shiftmon_jaeger_thrift_binary_receiver_endpoint }}'
{% endif %}

{% endif %}
  syslog:
    {{ shiftmon_syslog_proto }}:
      listen_address: "{{ shiftmon_syslog_listen_address }}:{{ shiftmon_syslog_port }}"
    protocol: rfc5424
    on_error: drop_quiet
  journald:
    directory: /var/log/journal
{% if 'tetragon.service' in ansible_facts.services %}
  filelog/tetragon:
    include:
       - /var/log/tetragon/tetragon.log
    operators:
      - type: json_parser
        parse_from: body
        on_error: drop_quiet
{% endif %}
{% if 'docker.service' in ansible_facts.services %}
  docker_stats:
    endpoint: '{{ shiftmon_docker_endpoint }}'
    api_version: "1.44"
{% endif %}
processors:
  batch:
  deltatocumulative:
    max_stale: 5m
  transform/metric_attributes:
    error_mode: ignore
    metric_statements:
      - context: resource
        statements:
          - delete_key(attributes, "service.instance.id")
          - delete_key(attributes, "network.protocol.name")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.name")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "service.version")
          - delete_key(attributes, "telemetry.sdk.language")
          - delete_key(attributes, "telemetry.sdk.version")
      - context: scope
        statements:
          - set(name, "")
          - set(version, "")
  resourcedetection/system:
    detectors:
      - "system"
    system:
      hostname_sources:
        - "os"
        - "dns"
  transform/parse_structured_logs:
    log_statements:
      - context: log
        error_mode: ignore
        conditions:
          - IsMatch(attributes["appname"], "{{ shiftmon_json_apps }}|{{ shiftmon_user_json_apps }}")
        statements:
          - merge_maps(log.attributes, ParseJSON(attributes["message"]), "insert")
  transform/parse_pbs_tasks:
    error_mode: ignore
    log_statements:
      - context: log
        error_mode: ignore
        conditions:
          - IsMatch(body,"pbs.*")
        statements:
          - merge_maps(log.attributes, ExtractGrokPatterns(log.attributes["message"], "UPID:%{DATA:pbs_host}:%{DATA:task_id_1}:%{DATA:task_id_2}:%{DATA:task_id_3}:%{DATA:task_id_4}:%{DATA:cmd}:%{DATA:task_path}:%{DATA:user}:%{GREEDYDATA:log_message}", true, ["WOOHOO=%{ELB_URI} otel"]), "insert")
exporters:
  otlphttp/metrics:
    metrics_endpoint: '{{ shiftmon_otlp_metrics_endpoint }}'
    compression: gzip
    encoding: proto
    auth:
      authenticator: bearertokenauth
  otlphttp/logs:
    logs_endpoint: '{{ shiftmon_otlp_logs_endpoint }}'
    compression: gzip
    encoding: proto
    headers:
      VL-Msg-Field: 'message,MESSAGE'
      VL-Stream-Fields: 'host.name,appname,log.file.name,_SYSTEMD_UNIT,_MACHINE_ID'
    auth:
      authenticator: bearertokenauth
  otlphttp/traces:
    traces_endpoint: '{{ shiftmon_otlp_traces_endpoint }}'
    compression: gzip
    encoding: proto
    auth:
      authenticator: bearertokenauth

service:
  telemetry:
    logs:
      level: "warn"
  pipelines:
{% if shiftmon_otlp_http_receiver_endpoint is defined or shiftmon_otlp_grpc_receiver_endpoint is defined or shiftmon_jaeger_grpc_receiver_endpoint is defined or shiftmon_jaeger_thrift_compact_receiver_endpoint is defined %}
    traces:
      receivers:
        {{ '- otlp' if shiftmon_otlp_http_receiver_endpoint is defined or shiftmon_otlp_grpc_receiver_endpoint is defined }}
        {{ '- jaeger' if shiftmon_jaeger_grpc_receiver_endpoint is defined or shiftmon_jaeger_thrift_compact_receiver_endpoint is defined }}
      processors:
        - batch
        - resourcedetection/system
      exporters:
        - otlphttp/traces
{% endif %}
    metrics:
      receivers:
        - hostmetrics
        - prometheus
        {{ '- otlp' if shiftmon_otlp_http_receiver_endpoint is defined or shiftmon_otlp_grpc_receiver_endpoint is defined }}
        {{ '- docker_stats' if 'docker.service' in ansible_facts.services }}
        {{ '- postgresql' if shiftmon_postgres_endpoints is defined  }}
{% if shiftmon_httpchecks is defined %}
{% for check in shiftmon_httpchecks %}
        - httpcheck/{{ check.name }}
{% endfor %}
{% endif %}
      processors:
        - deltatocumulative
        - batch
        - resourcedetection/system
        - transform/metric_attributes
      exporters: 
        - otlphttp/metrics
    logs:
      receivers:
        - journald
        - syslog
        {{ '- filelog/tetragon' if 'tetragon.service' in ansible_facts.services }}
        {{ '- otlp' if shiftmon_otlp_http_receiver_endpoint is defined or shiftmon_otlp_grpc_receiver_endpoint is defined }}
      processors:
        - batch
        - resourcedetection/system
        - transform/parse_structured_logs
        - transform/parse_pbs_tasks
      exporters:
        - otlphttp/logs
  extensions:
    - health_check
    - pprof
    - zpages
    - bearertokenauth
