Description=run startup scripts for shift-mon
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
RemainAfterExit = true
WorkingDirectory=/opt/shift-mon
ExecStart=/opt/shift-mon/startup.bash
ExecStop=/opt/shift-mon/shutdown.bash

[Install]
WantedBy=multi-user.target