[Unit]
Description=Mimir time series database
Documentation=https://docs.victoriametrics.com/
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=1
PIDFile=/run/mimir/mimir.pid
User=mimir
Group=mimir
Restart=on-failure
WorkingDirectory=/opt/mimir
ExecStart=/opt/mimir/mimir config.yml
ExecStop=/bin/kill -s SIGTERM $MAINPID

[Install]
WantedBy=network.target
