schedulers:
  periodic:
    # class: "periodic"
    infer_every: "{{ vmanomaly_infer_every }}"
    fit_every: "{{ vmanomaly_fit_every }}"
    fit_window: "{{ vmanomaly_fit_window }}"

models:
  mad:
    class: "mad_online"
    threshold: 3.5
    detection_direction: 'above_expected'
    min_dev_from_expected: {{ min_deviation_value }}
    queries:
{% for query in detections.keys() %}
      - '{{ query }}'
{% endfor %}
    schedulers:
      - 'periodic'

reader:
  datasource_url: "http://victoriametrics:8428/"
  sampling_period: "1m"
  queries:
{% for detection, query in detections.items() %}
   {{ detection }}: '{{ query }}'
{% endfor %}
writer:
  datasource_url: "http://victoriametrics:8428/"

monitoring:
  pull:
    addr: "0.0.0.0"
    port: 8490

